
$logo-width: 150px;
$logo-height: 129px;

.logo {
  @include position(50% null null 50%);
  transform: translate(-50%, -50%);
  @include hide-text();

  background: url(../images/logo.png) 50% 50% no-repeat;
  background-size: $logo-width/2 $logo-height/2;
  width: $logo-width;
  height: $logo-height;
  display: inline-block;
  @include respond-to(desktop) {
    background-size: $logo-width $logo-height;
    width: $logo-width;
    height: $logo-height; 
  }
}