
.main-article {
  padding-top: 50px;
  padding-bottom: 30px;
  @include indented-box();

  @include respond-to(tablet-up) {
    max-width: $desktop-site-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 115px;
    padding-bottom: 60px;
  }

  .button-holder {
    padding: 30px 0 55px;

    @include respond-to(tablet-up) {
      padding: 85px 0 150px;
    }
  }
}

.main-article--header {
  text-align: center;
  font-family: 'Source Sans Pro';
  padding-bottom: 40px;

  @include respond-to(tablet-up) {
    padding-bottom: 65px;
  }
}

.main-article--title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 5px;
  @include respond-to(tablet-up) {
    margin-bottom: 10px;
    font-size: 85px;
  }
}

.main-article--sub-title {
  font-size: 25px;
  font-weight: 300;
  @include respond-to(tablet-up) {
    font-size: 50px;
  }
}

.main-article--img-holder {
  margin-bottom: 20px;
  @include respond-to(tablet-up) {
    margin-bottom: 70px;
  }
}