%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.js-disable-hover,
.js-disable-hover * {
  pointer-events: none !important;
}