
body {
  font: normal 17px/1.57 Arial;
}

// Headlines
h1 {
  font: 700 30px/1 'Source Sans Pro';
  margin: 0 0 15px;
}

h2 {
  font: 300 25px/1 'Source Sans Pro';
  margin: 0 0 15px;
}

h3 {
}

p {
  margin: 0 0 20px;
}

// link color
a {
  .no-touch &:hover,
  .no-touch &:focus {
  }
}