/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, bower_components/normalize-scss/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 36, bower_components/normalize-scss/normalize */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 62, bower_components/normalize-scss/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 74, bower_components/normalize-scss/normalize */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, bower_components/normalize-scss/normalize */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 99, bower_components/normalize-scss/normalize */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, bower_components/normalize-scss/normalize */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 119, bower_components/normalize-scss/normalize */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 131, bower_components/normalize-scss/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 140, bower_components/normalize-scss/normalize */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 154, bower_components/normalize-scss/normalize */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 163, bower_components/normalize-scss/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 199, bower_components/normalize-scss/normalize */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 238, bower_components/normalize-scss/normalize */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 247, bower_components/normalize-scss/normalize */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 254, bower_components/normalize-scss/normalize */
sup {
  top: -0.5em; }

/* line 258, bower_components/normalize-scss/normalize */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 313, bower_components/normalize-scss/normalize */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 324, bower_components/normalize-scss/normalize */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 335, bower_components/normalize-scss/normalize */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 343, bower_components/normalize-scss/normalize */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 353, bower_components/normalize-scss/normalize */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 365, bower_components/normalize-scss/normalize */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 393, bower_components/normalize-scss/normalize */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, bower_components/normalize-scss/normalize */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 419, bower_components/normalize-scss/normalize */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 436, bower_components/normalize-scss/normalize */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 449, bower_components/normalize-scss/normalize */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 458, bower_components/normalize-scss/normalize */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, bower_components/normalize-scss/normalize */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 479, bower_components/normalize-scss/normalize */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 495, bower_components/normalize-scss/normalize */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
/* line 505, bower_components/normalize-scss/normalize */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 519, bower_components/normalize-scss/normalize */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 527, bower_components/normalize-scss/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 540, bower_components/normalize-scss/normalize */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 553, bower_components/normalize-scss/normalize */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 562, bower_components/normalize-scss/normalize */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 573, bower_components/normalize-scss/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 579, bower_components/normalize-scss/normalize */
td, th {
  padding: 0; }

/* line 2, D:/_projects/cca/src/src/scss/base/typo */
body {
  font: normal 17px/1.57 Arial; }

/* line 7, D:/_projects/cca/src/src/scss/base/typo */
h1 {
  font: 700 30px/1 'Source Sans Pro';
  margin: 0 0 15px; }

/* line 12, D:/_projects/cca/src/src/scss/base/typo */
h2 {
  font: 300 25px/1 'Source Sans Pro';
  margin: 0 0 15px; }

/* line 20, D:/_projects/cca/src/src/scss/base/typo */
p {
  margin: 0 0 20px; }

/* line 13, D:/_projects/cca/src/src/scss/base/helpers */
.main-article, .site--section-title, .site--section p, .site--video {
  padding: 0 10px; }

/* line 18, D:/_projects/cca/src/src/scss/base/helpers */
.js-disable-hover, .js-disable-hover * {
  pointer-events: none !important; }

/* line 5, D:/_projects/cca/src/src/scss/base/buttons */
.button {
  font: 700 19px/43px 'Source Sans Pro';
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  min-width: 225px;
  background: #ed7971;
  color: #fff;
  text-decoration: none;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15); }

/* line 17, D:/_projects/cca/src/src/scss/base/buttons */
.button-holder {
  text-align: center; }

/* line 21, D:/_projects/cca/src/src/scss/base/buttons */
.go-next, .go-top:before {
  width: 32px;
  height: 23px;
  display: block;
  margin: 0 auto; }

/* line 27, D:/_projects/cca/src/src/scss/base/buttons */
.go-next {
  background: url(../images/btn/arrow-down.png) 50% 50% no-repeat;
  margin-bottom: 35px;
  text-indent: -9999em;
  overflow: hidden; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .go-next {
      background-image: url(../images/btn/arrow-down@2x.png);
      width: 54px; } }

/* line 38, D:/_projects/cca/src/src/scss/base/buttons */
.go-top {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  font: 400 20px/1 'Source Sans Pro';
  text-decoration: none;
  color: #252525; }
  /* line 45, D:/_projects/cca/src/src/scss/base/buttons */
  .go-top:before {
    content: '';
    background: url(../images/btn/arrow-up.png) 50% 50% no-repeat;
    padding-bottom: 20px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .go-top {
      background-image: url(../images/btn/arrow-up@2x.png);
      width: 54px; } }

/* line 2, D:/_projects/cca/src/src/scss/layout/grid */
* {
  box-sizing: border-box; }

/* line 5, D:/_projects/cca/src/src/scss/layout/grid */
html {
  -ms-touch-action: none; }

/* line 9, D:/_projects/cca/src/src/scss/layout/grid */
html, body {
  height: 100%; }

/* line 13, D:/_projects/cca/src/src/scss/layout/grid */
body {
  background: #e7e5de; }

/* line 18, D:/_projects/cca/src/src/scss/layout/grid */
img, iframe {
  max-width: 100%;
  display: block; }

/* line 4, D:/_projects/cca/src/src/scss/layout/header */
.site-header {
  position: relative;
  background: #ed7971;
  height: 98.5px; }
  @media only screen and (min-width: 641px) {
    .site-header {
      height: 197px; } }

/* line 2, D:/_projects/cca/src/src/scss/layout/footer */
.site-footer {
  text-align: center;
  padding-bottom: 85px; }

/* line 5, D:/_projects/cca/src/src/scss/components/logo */
.logo {
  position: absolute;
  top: 50%;
  
  left: 50%;
  
  -webkit-transform: translate(-50%, -50%);
  
      -ms-transform: translate(-50%, -50%);
  
          transform: translate(-50%, -50%);
  text-indent: -9999em;
  overflow: hidden;
  background: url(../images/logo.png) 50% 50% no-repeat;
  background-size: 75px 64.5px;
  width: 150px;
  height: 129px;
  display: inline-block; }
  @media only screen and (min-width: 641px) {
    .logo {
      background-size: 150px 129px;
      width: 150px;
      height: 129px; } }

/* line 2, D:/_projects/cca/src/src/scss/components/main-article */
.main-article {
  font-size: 17px;
  margin-bottom: 30px; }
  /* line 7, D:/_projects/cca/src/src/scss/components/main-article */
  .main-article .button-holder {
    padding: 30px 0 50px; }

/* line 12, D:/_projects/cca/src/src/scss/components/main-article */
.main-article--header {
  text-align: center;
  font-family: 'Source Sans Pro'; }

/* line 17, D:/_projects/cca/src/src/scss/components/main-article */
.main-article--title {
  font-size: 42px;
  font-weight: 700; }

/* line 22, D:/_projects/cca/src/src/scss/components/main-article */
.main-article--sub-title {
  font-size: 25px;
  font-weight: 300; }

/* line 2, D:/_projects/cca/src/src/scss/components/site */
.site--section-title {
  text-align: center; }

/* line 7, D:/_projects/cca/src/src/scss/components/site */
.site--section {
  margin-bottom: 20px; }

/* line 14, D:/_projects/cca/src/src/scss/components/site */
.site--media {
  margin-bottom: 55px;
  display: none; }
  /* line 18, D:/_projects/cca/src/src/scss/components/site */
  .site--media:nth-of-type(1) {
    display: block; }

/* line 2, D:/_projects/cca/src/src/scss/components/highlights */
.highlights--img {
  display: none; }

/* line 6, D:/_projects/cca/src/src/scss/components/highlights */
.highlights--item {
  text-align: center; }
  /* line 8, D:/_projects/cca/src/src/scss/components/highlights */
  .highlights--item .button {
    margin-bottom: 11px; }